
div #homeContent {
  height: 92vh;
  display: flex;
  background-image: url(../imgs/mountains-g35c8b9301_1920.jpg);
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#homeContent h1 {
  color: var(--gray-1);
}
#homeContent h4 {
  color: var(--gray-1);
  margin-top: var(--space-2);
}
.red {
  color: var(--red);
  font-weight: 400;
}
